<h1>トレーニング記録一覧ページ</h1>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<%= link_to "トレーニング記録を投稿", new_training_path %>
<%= link_to "お悩み相談室に入る", trainings_path %>

<% @trainings.each do |training| %>
  <%= training.title %>
  <%= training.user.user_name %>
  <%#<%= link_to "詳しく見る", training_path(training.user_id)%>
<% end %>